
<h3>@ViewBag.Message</h3>

<p>Good Day! My name is Agil Aghazada. I study at Azerbaijan State Oil and Industry University,Information Security (English Section).
    I am currently III year student at this University. Until this time I participated many seminars, programmes, forums, coordinators of exams 
    and Aviation section. 
    I participated Erasmus+ programme in 2021 August.

    Also working now in Haydar Aliyev International Airport (GYD) as Coordinator of Departure of flights and as Head Volunteer in Baku City Circuit.
    </p>

<p>
    Travelled Countries (10 countries):
    Azerbaijan, Turkey, Georgia, Ukraine, Hungary, Austria, Italy, Czech Republic, Bosnia and Hersogovina, Serbia.
</p>
