<div class="container">

    <h3>@ViewBag.Message</h3>


    <address style="display:flex; flex-direction: column;">
        <strong>Please contact me at:</strong> <a href="mailto:aqil.agazade.97@gmail.com">aqil.agazade.97@gmail.com</a>
        <strong>You can also use (Whatsapp): </strong> <a href="tel:+994513703145">+994513703145</a>
        <strong>For FAX:</strong> <a href="+994124503332">+994124503332</a>
        <strong>For Instagram:</strong> <a href="instagram.com/agillaga">instagram.com/agillaga</a>
    </address>
</div>